[Unit]
Description=Nevada NTTR ADS-B Monitoring
After=network.target

[Service]
ExecStartPre=/bin/sleep 0
ExecStart=/usr/bin/python3 /home/pi/watch_nevada/watch_nevada_secret.py  --polygons-file polygons.json --notify-telegram --interval 600
WorkingDirectory=/home/pi/watch_nevada/
Restart=always
RestartSec=5
User=pi
Environment=PYTHONUNBUFFERED=1
Environment=TELEGRAM_BOT_TOKEN=
Environment=TELEGRAM_CHAT_ID=

[Install]
WantedBy=multi-user.target
